.App {
  text-align: center;
}

.App > div {
  font-size: 16px;
  font-weight: bold;

}

.App-header {
  background-color: #7d889e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-n-drop {
  padding: .5rem;
  width: 30%;
}

.drag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.current {
  background-color: #6c7994;
}

.dropdown {
  font-size: 15px;
  font-weight: bold;
  width: 200px;
}